# Файли конфігурації та облікові дані
.env
service_account.json

# Віртуальне середовище Python
venv/
.venv/
env/
.env/

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
logs/*.log
app.log

# Тимчасові медіафайли (які можуть завантажуватись у корінь)
*.mp4
*.wav

# Тестові скрипти
 
# Специфічні файли IDE / Редактора
.vscode/
.idea/
*.swp
*.swo
